@use "./colors";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: colors.$dark-grey;
  text-decoration: none;
}

body {
  background-color: colors.$lotion;
  font-size: 1.6rem;
}

.active {
  border: 0.1rem solid colors.$azure;
  color: colors.$azure;
}
