$azure: #1797ff;
$dark-grey: #606060;
$gray: #6b6b6b;
$light-gray: #dad8d8;
$lotion: #fcfcfc;
$carbon-grey: #767676;
$purple: #3732b3;
$white: #ffffff;
$light-silver: #d6d6d6;
$spanish-gray: #979797;
