@use "./breakpoints";
@use "./mixins";

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1.5rem;

  @include mixins.breakpoint(breakpoints.$sm) {
    max-width: 74.5rem;
    padding: 0;
  }

  @include mixins.breakpoint(breakpoints.$md) {
    max-width: 92rem;
  }

  @include mixins.breakpoint(breakpoints.$lg) {
    max-width: 80%;
  }
}
